* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
label {
  display: block;
}
.name-fields-container {
  display: flex;
}
th,
td {
  text-align: center;
}
td:first-child {
  text-align: start;
}
.outer-container {
  margin: 0 auto;
  padding: 20px 0;
  max-width: 75vw;
}
.red-asterik {
  color: red;
}
.stars-container {
  color: gold;
}
span {
  font-size: 12px;
}
